exportPattern("^[[:alpha:]]+")
importFrom("stats", "complete.cases", "lm", "confint", "coef", "median", "predict", "aggregate", "na.omit")
importFrom("foreach", "foreach", "%:%", "%do%")
importFrom("sp", "CRS")
importFrom("utils", "download.file")
importFrom("RCurl", "getURL")
importFrom("XML", "getHTMLLinks")
importFrom("httr", "GET", "content")
importFrom("jsonlite", "fromJSON")
